/* BODY */
body { 
    background: rgb(58, 58, 58);
    color: white;
    font-family: Arial, Helvetica, sans-serif
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: white;
    background-image: url("images/bosak.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    height: 400px;
    padding: 15px;
    text-align: center;
    color: yellow;
}
header .homepage a {
    background-image: url("images/bloodtrail.png");
    background-size: 55px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    position: relative;
    text-indent: -9999999px;
    top: -20px;
    width: 55px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: white ;
    text-decoration: none;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* AUDIO */

/* RESPONSIVE RULES */

@media screen and (max-width: 715px) {

}

/* FEATURES */

.features{
    background-color: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.features figure {
    margin: auto;
    text-align: center;
    width: 300px;
}
.features figure img {
    border: 2px solid black;
    border-radius: 15PX;
    box-shadow: gray 0px 0px 10px;
    width: 300px;
}
section {
    background-color: thistle;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
section div {
    margin: 20px;
}
.features div {
width: 5%;
margin: 1px;
color: black;
}

/* footer */

footer {
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: center;
    height: 460px;
}
footer div {
    display: inline-block;
    background-color: white;
    background-repeat: round ;
}
footer div.center {
    background-image: url(images/tenor\ \(1\).gif);
    color: pink;
}
footer div.left {
    background-image: url(images/pepecry.gif);
color: pink;
}
footer div.right {
  background-image: url(images/memer.gif);
  color: pink;
}

@media screen and (max-width: 400px) {
    .features {
        background: red;
}


