body { 
    background: rgb(58, 58, 58);
    color: white;
    font-family: 'Courier New', Courier, monospace
    margin: 0;
    padding: 0;
}
header {
    background: black;
    padding: 20px;
}
section {
    background: rgb(255, 255, 255);
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
div {
    background: rgb(0, 0, 0);
    margin: auto;
    width: auto;
    color: whitesmoke;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}
footer {
    background: black;
    padding: 10px 20px;
}